<!doctype html>
<html lang="en">
	<head>
		<!-- <title>shopping cart</title> -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	</head>
	<body>
		<div class="container-fluid" style="height: 100vw">
		<img src="https://cdn.ramseysolutions.net/media/b2c/every_dollar/article-images/everydollar-grocery-shopping-patterns.jpg" style="width: 100%;height: 100%;opacity: 0.12">
		<div class="container-fluid" style="position: absolute;top: 0;left :0;width: 100%;height: 100vw;overflow-y: scroll;">
			<h1 class="text-center" style="font-size: 4vw;background-color: #bab7a8;padding: 2vw;">ADD ITEMS TO YOUR CART</h1>
				<table class="table table-hover" style="font-size: 1.2vw;">
					<thead>
						<tr>
							<th style="text-align: center;">Image</th>
							<th style="text-align: center;">Item name</th>
							<th style="text-align: center;">Price</th>
							<th style="text-align: center;">Quantity</th>
							<th style="text-align: center;">Product ID</th>
							<th style="text-align: center;">ADD TO CART</th>
						</tr>
					</thead>
					<tbody>
						
						{{#each items as |item|}}
						<form action='/page2' method="post">
						<tr style="text-align: center;">
							<td><img src="{{item.purl}}" class="img-rounded" style="max-width: 5vw;max-height: 5vw"></td>
							<td>{{item.product}}</td><input type="hidden" name="product" id="product" value="{{item.product}}">
							<td><mark><input type="hidden" name="price" id="price" value="{{item.price}}">{{item.price}}</mark></td>
							<td>{{item.quantity}}</td>
							<td><input type="hidden" name="pID" id="pID" value="{{item.pID}}">{{item.pID}}</td>
							<td><input type="submit" value="ADD" style="background-color: #bab7a8"></td>
						</tr>
						</form>
						{{/each}}
					</tbody>
				</table>
				<div class="text-center" style="font-size: 2.2vw;padding: 2vw;"><a href="page3"><u>Show Cart</u></a></div>
		</div></div>
	</body>
</html>			
